<h2> Authentication  New Session </h2>

<%=link_to image_tag("connect.png") , @authorize_url %>
<%= link_to 'logout' , "/logout"%>

<br>session information 
<Br>access token:<%= session[:access_token] %>

