@import "../_base";

.spinner {
  background: white url("images/loading.gif") no-repeat center center;
  @include opacity(0.75);
  height: 100%;
  margin: 0;
  padding: 0 !important;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.small-spinner {
  background: white url("images/small-spinner.gif") no-repeat center center;
  @include opacity(0.75);
}
.flat-spinner {
  background: white url("images/flat-spinner.gif") no-repeat center center;
  @include opacity(0.75);
}