<%= stylesheet_link_tag @brand.name.gsub(' ','_') %>
<div class="brand-header">
</div>

<div class="award">
  <p class="award-title"><%=@brand.name.humanize%> Thanks You for Taking The Challenge!</p>
</div>
