<%= stylesheet_link_tag @brand.name.gsub(' ','_') %>

<form action="/action_view" method="post">
<div class="award">
  <p class="award-title">Where did <%=@brand.name.humanize%> first open up?</p>
  <ol>
    <li><input type="radio">Bentonville, Arkansas</li>
    <li><input type="radio">Pittsburgh, California</li>
    <li><input type="radio">Chicago, Illinois</li>
    <li><input type="radio">New York, New York</li>
    <li><input type="radio">Boston, Massachussetts</li>
  </ol>
  <input type="submit" class="btn" value="Answer Quiz!"></input>
</div>


