<h1>Link Your Credit Card</h1>
<br>
<div style="padding:10px;spacing:10px">
Now You Can  Link Your Credit Card and When You Shop You Will Earn Extra Points and Get Discounts at the Resgister.
<br><b>Its like your Birthday Every Day!</b>
<br><br>

<div style="padding:40px;spacing:40px">
<input type=text style="width:25px;"> -
<input type=text style="width:25px;"> -
<input type=text style="width:25px;"> -
<input type=text style="width:25px;"> 
</div>
<input type=submit value="Add Your Card" class="btn">
</div>
