//  ...
//  Extends.scss
//
//  Commonly extended classes.
//  ----------------------------------------

//  The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements.
//  Read about it at >> j.mp/bestclearfix
.clearfix {
  zoom: 1;
  
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
  }
  
  &:after {
    clear: both;
  }
}

.horizontal-nav {
  display: block;
  position: relative;

  > li {
    border: none;
    display: inline-block;
    line-height: 1;
    position: relative;
  }
}

.alert {
  border: 1px solid #ddd;
  margin-bottom: 12px;
  padding: 10px;
  @include rounded-corners(8px);
}