<%= stylesheet_link_tag @brand.name.gsub(' ','_') %>
<div class="brand-header">
<%= @brand.name %>
</div>

<div class="award">
</div>


<h2>Welcome to <%=@brand.name%>! Check out some of our exciting activities and deals exclusively offered to Crowdtappers so that they can earn points and spread the love.  </h2> 
<% @brand.brand_actions.each do |brand_action| %>
  <%=link_to brand_action.title, {:controller => 'action_view' , :action=> 'index', :category => brand_action.category} , :class=>"btn"%>
  <br>
<% end %>
