<%= stylesheet_link_tag @brand.name.gsub(' ','_') %>
<div class="brand-header">
<%= @brand.name %>
</div>

<div class="award">
  <div class="title">You have Recieved 100 points for your checkin</div>
</div>


<h2>Today you can earn more points and discounts by completing some of the following activities</h2>


<% @brand.brand_actions.each do |brand_action| %>
  <%=link_to brand_action.title, {:controller => 'action_view' , :action=> 'index', :category => brand_action.category} , :class=>"btn"%>
  <br>
<% end %>
